<div id="homepage">
    <h1><%- title %></h1>
    <%- messages() %>
    <h1>BookNest</h1>
    <p>A cozy space for readers to find their next favorite book.</p>

    <h4>Please Login To View Book Recommendations</h4>
    <a href="/login">Login</a>

</div>
  